h1 {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 10px;
}

h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 8px;
}

body {
  min-width: 540px;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

img {
  object-fit: contain;
  width: 100%;
}

hr {
  margin:0;
  border: 1px solid #eee;
}
.wider {
  padding: 0;
}

#front_page_image {
  width: 200px;
}

#about_me_image {
  width: 400px;
  margin-bottom: 14px;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar {
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

.navbar-default {
  background-color: #ffffff;

}

.navbar-nav {
  width: 100%;
  padding: 0;
  margin: 7.5px -15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.navbar-text {
  display: inline;
}

.navbar li {
  float: none;
  display: inline-block;
}

.navbar li a {
  transition: background-color, color .75s;
  font-size: x-large;
  /*padding: 8px 60px;*/
}

.navbar-header {
  float: left;
  text-align: center;
  width: 100%;
  display: inline;
}

.navbar-brand {
  float: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: medium;
  margin-right: auto;
  height: 100%;
  padding: 0;
  display: block;
}

.navbar-default .navbar-nav > li > a:hover {
  color: rgba(0, 0, 0, 0.99);
  background-color: #e2e2e2;
}

/* Style all font awesome icons */
.fa {
  padding: 23px 30px;
  font-size: 30px;
  width: 75px;
  text-decoration: none;
  vertical-align: middle;
}

.navbar-nav li a {
  color: #777;
  text-decoration: none;
}

.consultation{
  font-size:40px;
}

#services-dropdown{
  text-align: center;
  width:260%;
}
@media (max-width: 1201px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    padding: 0;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);

  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    background-color: white;
    margin: 0;

  }

  .navbar-default {
    height: 50px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }

  .consultation {
    font-size: 30px;
  }

  #services-dropdown{
    text-align: center;
    width:100%;
    font-size: large;
  }

}

@media (max-width: 992px) {
  .consultation {
    font-size: 26px;
  }
  .dropdown-menu > li > a {
    font-size: large;
    text-align: center;
    margin: 0 30px;
  }

  #services-dropdown{
    text-align: center;
    width:100%;
    font-size: large;
  }
}

@media (max-width: 768px) {
  .consultation {
    font-size: 22px;
  }
  .navbar li a {
    transition: background-color, color .75s;
    font-size: large;
    /*padding: 8px 60px;*/
  }

  .dropdown-menu > li > a {
    font-size: large;
    text-align: center;
    margin: 0 30px;
  }

  #services-dropdown{
    text-align: center;
    width:100%;
    font-size: large;
  }

}

@media (min-width: 1201px ) {

  .container {
    width: 990px;
    padding: auto;
  }

  .intro {
    width: 990px;
  }

  #front_page_image {
    float: left;
    margin-top: 20%;
    padding-right: auto;
  }

  #front_page_text {
    padding-left: 20px;
  }

  #about_me, #front_page_text {
    width: 65%;
    margin-top: 85px;
    margin-bottom: 85px;
    float: right;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
  }

  .navbar-nav li a {
    font-size: large;
  }

}

@media (min-width: 992px) {
  .container {
    width: 750px;
    padding: auto;
  }

  .intro {
    width: 750px;
  }

}

@media (min-width: 768px) {

  #about_me, #front_page_text {
    margin-top: 42.5px;
    margin-bottom: 42.5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-brand {
    font-size: large;
  }

  .navbar-nav > li > a {
    font-size: large;
  }
  .dropdown-menu{
    width:100%;
  }

  .navbar-nav li a {
    font-size: large;
  }

  .dropdown-menu > li > a {
    font-size: large;
    text-align: center;
    margin: 0 30px;
  }

}

.img-responsive #heading_img {
  padding-top: .5%;
}

.question {
  font-weight: bold;
}

.center {
  text-align: center;
}

form {
  font-family: "Open Sans", sans-serif;
}

footer {
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
}

.intro {
  border-top: 2px solid black;
  border-bottom: 2px solid black;

}

.no-margin {
  margin: 0;
}

#services_focus {
  margin: 10px;
}

#services_focus li {
  font-family: "Open Sans", sans-serif;
  padding: 6px 6px;
  font-size: 16px;
}

.fa.fa-navicon {
  color: black;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  margin: 0 30px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.lighter, .article-date {
  color: rgba(90, 90, 90, 0.85);
}

#psych_today {
  margin: 0 30px 0 10px;
  width: auto;
}

.links {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer-copyright {
  margin-top: 15px;
}

.brand_bar {
  object-fit: none;
  object-position: center;
  width: 100%;
  height: 50px;
  margin: auto;
}

.brand_icon {
  width: 100%;
  margin: auto;
}

.no-padding {
  padding: 0;
}

/* Style the button and place it in the middle of the container/image */
.navbar-header .btn {
  position: absolute;
  top: 35%;
  left: 4%;
  background-color: white;
  opacity: .8;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: solid 2px black;
  padding: 5px;
  box-shadow: 2px 3px 6px #888888;
  cursor: pointer;
}

.navbar-header .btn:hover {
  background-color: #ffffff;
  opacity: 1.0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #00000082;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.image_container {
  position: relative;
  text-align: center;
  color: #ffffff;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .6;
  background-color: rgba(0, 0, 0, 0.98);
}

.lighter-link-color{
  color: #75c6ff;
}

.card-text{
  display: -webkit-box;
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card{
  box-shadow: 2px 3px 6px #888888;
  margin: 20px;
  padding: 20px 20px;
}
